$accentColor = #3F51B5
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

header.navbar {
	background-color: $accentColor;
}

.navbar .site-name {
	color: white;
}

div.custom-block.tip {
	border-color: #E91E63;
}